% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ft=erlang ts=4 sw=4 et
[

  {emqttd_plugin_mysql, [

    {mysql_pool, [
        %% ecpool options
        {pool_size, 8},
        {pool_type, round_robin},
        {auto_reconnect, 3},

        %% mysql options
        {host,     "127.0.0.1"},
        {port,     3306},
        {user,     "mysql_username"},
        {password, "mysql_password"},
        {database, "dbname"},
        {encoding, utf8}
    ]},

    %% select password only
    %% SAM_S
    %{authquery, "select password from mqtt_user where username = '%u' limit 1"},
    %% SAM_E

    %% hash algorithm: plain, md5, sha, sha256, pbkdf2?
    %% SAM_S
    %% {password_hash, sha256},
    %% SAM_E

    %% select password with salt
    %% SAM_S
    %% {authquery, "select password, salt from mqtt_user where username = '%u'"},
    {authquery, "select nosalt_password as password, UNHEX(salt) as salt from users where username = '%u'"},
    %% SAM_E

    %% sha256 with salt prefix
    %% SAM_S
    {password_hash, {salt, sha256}},
    %% SAM_E

    %% sha256 with salt suffix
    %% {password_hash, {sha256, salt}},

    %% comment this query, the acl will be disabled
    %% SAM_S
    %%{aclquery, "select allow, ipaddr, username, clientid, access, topic from mqtt_acl where ipaddr = '%a' or username = '%u' or username = '$all' or clientid = '%c'"},
    {aclquery, "select allow, ipaddr, username, clientid, access, topic from mqtt_acl where ipaddr = '%a' or username = '%u' or username = '$all' or clientid = '%c'"},

    %% If no rules matched, return...
    %%{acl_nomatch, allow}
    {acl_nomatch, allow}
    %% SAM_E

  ]}
].
